.git
.gitignore
.gitattributes

.env
.env.*
!.env.example
!.env.test.example

docs/
tests/
_backups*/
_backup*/
*.tar.gz
*.tgz
*.zip
*.bak

vendor/

storage/keys/**
storage/logs/**

.phpunit.cache/
phpunit.xml
phpunit.xml.dist

.idea/
.vscode/
.DS_Store
Thumbs.db
