# .env.example
# OBS: quando for utilizar, renomear para .env apenas
# --------------------------------------------
# CONFIGURAÇÃO DE BANCO DE DADOS PARA PDO (MySQL)
# --------------------------------------------

# Nome do banco de dados
DB_NAME=seuBanco

# Usuário do banco de dados
DB_USER=seuUsuario

# Senha do banco de dados
DB_PASS="suaSenha"

# Host do banco (use 127.0.0.1 e não "localhost" para evitar problemas com PDO)
DB_HOST=127.0.0.1

# Porta padrão do MySQL
DB_PORT=3306

# Caminho do socket (usado em Linux/Mac). Deixe vazio para Windows ou conexão via TCP/IP.
# --------------------------------------------
# Exemplos:
# - Linux com MySQL nativo: /run/mysqld/mysqld.sock
# - Linux com XAMPP:        /opt/lampp/var/mysql/mysql.sock
# - Windows (XAMPP/WAMP):   (deixar vazio)
# --------------------------------------------
DB_SOCKET=

# --------------------------------------------
# CONFIGURAÇÃO DE ENVIO DE EMAIL (SMTP via Gmail)
# Usado com PHPMailer
# --------------------------------------------

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=seuemail@gmail.com
MAIL_PASSWORD=suasenhasecretaoudetoken
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=seuemail@gmail.com
MAIL_FROM_NAME="Nome do Remetente"

# --------------------------------------------
# CONFIGURAÇÃO DE URL BASE DO SISTEMA
# --------------------------------------------

URL_BASE=http://localhost/nomedorepositorio

# --------------------------------------------
# CONFIGURAÇÃO DAS CHAVES PUBLICA E PRIVADA 
# PARA JWT (JSON Web Tokens)
# --------------------------------------------
PRIVATE_KEY_PATH=storage/keys/private.pem
PUBLIC_KEY_PATH=storage/keys/public.pem

# --------------------------------------------
# CONFIGURAÇÃO DO AMAZON COGNITO
# --------------------------------------------
COGNITO_REGION=#coloque_aqui_sua_regiao
COGNITO_USER_POOL_ID=#coloque_aqui_seu_user_pool_id
COGNITO_CLIENT_ID=#coloque_aqui_seu_client_id
COGNITO_CLIENT_SECRET="#coloque_aqui_seu_client_secret"
COGNITO_DOMAIN=#coloque_aqui_seu_dominio_cognito
COGNITO_REDIRECT_URI=#coloque_aqui_sua_redirect_uri
COGNITO_LOGOUT_URI=#coloque_aqui_sua_logout_uri
COGNITO_SCOPE="openid email profile"